.login{
    display: grid;
    place-items: center;
    height: 100vh;
}
.login__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login__logo > img{
    object-fit: contain;
    height: 150px;
    padding: 10px;
}
.login > Button{
    width: 300px;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;
    padding: 15px;
}
.login > Button:hover{
    background-color: white;
    color: #2e81f4;
}
